---
import { site } from '@/constants'
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'

const nav = await getCollection('nav')
nav.sort((a, b) => a.data.order - b.data.order)
---

<div class="relative z-10 grid place-items-center overflow-y-auto">
  <nav>
    <h1 class="sr-only">{site.name}</h1>
    <ul class="mx-auto grid max-w-lg grid-cols-4" data-component="socials">
      {
        nav.map(({ data }) => {
          const { name, url, image } = data
          return (
            <li>
              <a
                href={url}
                target="_blank"
                rel="noopener noreferrer"
                class:list={['outline-0', !url && 'pointer-events-none']}
                title={name}
              >
                <span class="sr-only">{name}</span>
                <Image
                  src={image}
                  width={512}
                  height={512}
                  alt={`${name} logo`}
                  class="aspect-square h-full w-full"
                />
              </a>
            </li>
          )
        })
      }
    </ul>
  </nav>
</div>
