---
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const events = await getCollection('events')
events.sort((a, b) => new Date(a.data.startDate).getTime() - new Date(b.data.startDate).getTime())
---

<Layout>
  <article class="">
    <div class="container mx-auto">
      <h1>Events</h1>
      <section>
        {events.map((event) => {
          const { name, location, startDate, flyer, description } = event.data

          const options = {
            weekday: "long",
            year: "numeric",
            month: "long",
            day: "numeric",
          };  
          return (
            <article class="prose">
              <h2>{name}</h2>
              {description && <p class="lead">{description}</p>}
              {location && (
                <h3>Live at {location.name}</h3>
                <p>
                  {location.streetAddress}
                  <br />
                  {location.addressLocality},
                  <br />
                  {location.addressRegion} {location.postalCode}
                </p>
              )}
        
              <time class="block" datetime={startDate.toISOString()}>{startDate.toLocaleString('en-GB', options)}</time>

              {flyer && <a href={flyer}>Flyer</a>}
            </article>
          )
        })}
      </section>
    </div>
  </article>
</Layout>